<!DOCTYPE html>
  <html>
   <head>
     <title>NETSUP | PPFlexibleStraws</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
     <script src="/jquery/dist/jquery.min.js"></script>
     <link  rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
     <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <link rel="stylesheet" href="/bootstrap/dist/css/font-awesome.min.css">
   </head>

   <body>
     <div class="jumbotron product-bgColor text-center" >
       <h1>PP FLEXIBLE STRAWS</h1>
     </div>
     <div class="container-fluid">
       <div class="row">
       <div class="col-sm-4">
         <h5>PRODUCT CATEGORIES</h5>
         <div class="list-group">
           <a href="/products/wideWidthFilms" class="list-group-item list-group-item-action">Wide Width Film - Container Liners</a>
           <a href="/products/tamperProofAndCourierBags" class="list-group-item list-group-item-action">Tamper Proof & Courier Bags</a>
           <a href="/products/barrierFilm" class="list-group-item list-group-item-action">Barrier Film</a>
           <a href="/products/vciFilmAntiCorrosionFilm" class="list-group-item list-group-item-action">VCI Film / Anti Corrosion Film</a>
           <a href="/products/shrinkFilm" class="list-group-item list-group-item-action">Shrink Film</a>
           <a href="/products/bagsAndLiners" class="list-group-item list-group-item-action">Bags and Liners</a>
           <a href="/products/agricultureFilm" class="list-group-item list-group-item-action">Agriculture Film</a>
           <a href="/products/stretchFilm" class="list-group-item list-group-item-action">Stretch Film</a>
           <a href="/products/airBubbleFilm" class="list-group-item list-group-item-action">Air Bubble Film</a>
           <a href="/products/zipLockBagsAndSliderBags" class="list-group-item list-group-item-action">Zip Lock Bags & Slider Bags</a>
           <a href="/products/ppFlexibleStraws" class="list-group-item active">PP Flexible Straws</a>
           <a href="/products/surfaceProtectionFilm" class="list-group-item list-group-item-action">Surface Protection Film</a>
         </div>
         <br/>
       </div>
       <div class="col-sm-8">
        <br/>
        <div class="row">
        <div class="col-sm-6">
        <img class="descriptionImage rounded float-left" src="/images/category/ppFlexibleStraws/ppFlexibleStraws.jpg"></img> 
      </div>
      <div class="col-sm-6">
          <h5>PP Flexible Straws</h3>
            <p class="text-justify">NetSup manufactures straws in different sizes, colors, gauges depending on customer specific requirements.</p>
            <p class="text-justify">PP straws are manufactured in following categories:</p>
            <ul>
                <li>Flexible Straws</li>
                <li>Plain Straws</li>
                <li>Shake Straws</li>
                <li>Coffee Stirrers</li>
                <li>Lollipop Sticks and</li>
                <li>Earbud Pipes</li>
            </ul>
            <p><b>Types of Straws widely manufactured at SynPack: </b></p>
            <p><i>The Flexible drinking straws</i>  are bendable straws which can be twisted to various positions so as to make it easier to consume the particular liquid. Flexible straws are of 5.7 mm in diameter and a length generally reaching 8.5 inches or 9.5 inches.</p>
            <p><i>The Plain drinking straws</i>  are generally manufactured in 5.7 mm diameter with a length of 7.5 inches. The length can be customized to individual requirements.</p>
            <p><i>Milk Shake straws</i>, commonly known as shake straws are basically straws of larger mm diameter as per the thickness or viscosity of liquids. Generally used for thick shakes, milk shakes, thick coffee blends etc. The standard diameter is of 10 mm with a length extending to 8.5 inches.</p>
            <p><i>Coffee Stirrers/Tea Stirrers, Lollipop Sticks & Ear-bud Pipe</i>s  are made of different sizes and colors based on the customer’s requirement.</p>
      </div>
    </div>
</div>
     </div>
     <br/>
     </div>
     <!--  -->
     <footer class="mainfooter" role="contentinfo">
     <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Netsup Pvt Ltd</h4>
          <address>
               <ul class="list-unstyled">
                 <li>
                    <u><b style="font-weight: 500">Old Address:</b></u><br>
                    ISEC Main Road<br>
                   Nagarbavi Bengaluru<br>
                 </li>
               </br>
                 <li>
                   <u><b style="font-weight: 500">New Address:</b></u><br>
                   Jayaprakash<br>
                   Flat No.303 Tower-2<br>
                   Hara Vijaya Heights<br>
                   VISL Layout, Talaghattapura Post<br>
                   Bengaluru 560062
                 </li>
               </ul>
             </address>
        </div>
      </div>
      <div class="col-sm-9">
        <!--Column1-->
        <div class="footer-pad">
          <div class="col-sm-8">
            <h4 class="text-center">Products</h4>
          </div>
          <div class="row">
          <div class="col-md-5 col-sm-5">
          <ul>
            <li><a href="/products/wideWidthFilms">Wide Width Film</a></li>
            <li><a href="/products/tamperProofAndCourierBags">Tamper Proof & Courier Bags</a></li>
            <li><a href="/products/barrierFilm">Barrier Film</a></li>
            <li><a href="/products/vciFilmAntiCorrosionFilm">VCI Film / Anti Corrosion Film</a></li>
            <li><a href="/products/shrinkFilm">Shrink Film</a></li>
            <li><a href="/products/bagsAndLiners">Bags and Liners</a></li>
          </ul>
        </div>
        <div class="col-md-5 col-sm-5">
          <ul>
            <li><a href="/products/agricultureFilm">Agriculture Film</a></li>
            <li><a href="/products/stretchFilm">Stretch Film</a></li>
            <li><a href="/products/airBubbleFilm">Air Bubble Film</a></li>
            <li><ahref="/products/zipLockBagsAndSliderBags">Zip Lock Bags & Slider Bags</a></li>
            <li class="active"><a class="active" href="/products/ppFlexibleStraws">PP Flexible Straws</a></li>
            <li><a href="/products/surfaceProtectionFilm">Surface Protection FIlm</a></li>
          </ul>
        </div>
      </div>
        </div>
      </div>


    </div>
  </div>
  </div>
</footer>

   </body>
  </html>
