<!DOCTYPE html>
  <html>
   <head>
     <title>NETSUP | TamperProofAndCourierBags</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
     <script src="/jquery/dist/jquery.min.js"></script>
     <link  rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
     <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <link rel="stylesheet" href="/bootstrap/dist/css/font-awesome.min.css">
   </head>

   <body>
     <div class="jumbotron product-bgColor text-center" >
       <h1>TAMPER PROOF & COURIER BAGS</h1>
     </div>
     <div class="container-fluid">
       <div class="row">
       <div class="col-sm-4">
         <h5>PRODUCT CATEGORIES</h5>
         <div class="list-group">
           <a href="/products/wideWidthFilms" class="list-group-item list-group-item-action">Wide Width Film - Container Liners</a>
           <a href="/products/tamperProofAndCourierBags" class="list-group-item active">Tamper Proof & Courier Bags</a>
           <a href="/products/barrierFilm" class="list-group-item list-group-item-action">Barrier Film</a>
           <a href="/products/vciFilmAntiCorrosionFilm" class="list-group-item list-group-item-action">VCI Film / Anti Corrosion Film</a>
           <a href="/products/shrinkFilm" class="list-group-item list-group-item-action">Shrink Film</a>
           <a href="/products/bagsAndLiners" class="list-group-item list-group-item-action">Bags and Liners</a>
           <a href="/products/agricultureFilm" class="list-group-item list-group-item-action">Agriculture Film</a>
           <a href="/products/stretchFilm" class="list-group-item list-group-item-action">Stretch Film</a>
           <a href="/products/airBubbleFilm" class="list-group-item list-group-item-action">Air Bubble Film</a>
           <a href="/products/zipLockBagsAndSliderBags" class="list-group-item list-group-item-action">Zip Lock Bags & Slider Bags</a>
           <a href="/products/ppFlexibleStraws" class="list-group-item list-group-item-action">PP Flexible Straws</a>
           <a href="/products/surfaceProtectionFilm" class="list-group-item list-group-item-action">Surface Protection Film</a>
         </div>
         <br/>
       </div>
       <div class="col-sm-8">
         <br/>
         <div class="row">
         <div class="col-sm-6">
         <img class="descriptionImage rounded float-left" src="/images/category/tamper_proof_pe_bags/tamperProofPEBags01.jpg"></img>
         <img class="descriptionImage rounded float-left" src="/images/category/tamper_proof_pe_bags/tamperProofPEBags02.jpg"></img>
         <img class="descriptionImage rounded float-left" src="/images/category/tamper_proof_pe_bags/tamperProofPEBags03.jpg"></img>
       </div>
       <div class="col-sm-6">
           <h5>Tamper Proof & Courier Bags</h3>
             <p class="text-justify">NetSup launched its new product – Tamper proof pouches, creating a niche in the PE film industry.</p>
             <p class="text-justify">These uniquely manufactured bags are designed to avoid any sort of unauthorized access or detection of the product packed inside. These pouches ensure the confidentiality of the product minimizing duplication. Once the bag is tampered with, it cannot be put back again ensuring the customer that the product is factory sealed.</p>
             <br/><br/><br/>
             <p class="text-justify">Are most widely used in eCommerce Packaging, online Market Places and by courier companies. Tamper proof bags are also commonly called as courier bags.</p>
         <p class="text-justify">These pouches have several uses such as:</p>
         <ul>
           <li>eCommerce Packaging</li>
           <li>Courier Bags</li>
           <li>Duty Free Bags</li>
           <li>Bank Documents</li>
           <li>Currency</li>
           <li>Jewelry</li>
           <li>Gold Collateral</li>
           <li>Security Bags</li>
           <li>Examination Paper Envelopes</li>
           <li>Envelopes for Passport and Important Documentation</li>
           <li>Integral Tools and Spares of High Value</li>
           <li>Sample Pouches</li>
           <li>Envelopes for Closing Packing List & Documents</li>
           <li>Cash Pouches</li>
         </ul>
       </div>
     </div>
       </div>
     </div>
     <br/>
     </div>

     <footer class="mainfooter" role="contentinfo">
     <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Netsup Pvt Ltd</h4>
          <address>
               <ul class="list-unstyled">
                 <li>
                    <u><b style="font-weight: 500">Old Address:</b></u><br>
                    ISEC Main Road<br>
                   Nagarbavi Bengaluru<br>
                 </li>
               </br>
                 <li>
                   <u><b style="font-weight: 500">New Address:</b></u><br>
                   Jayaprakash<br>
                   Flat No.303 Tower-2<br>
                   Hara Vijaya Heights<br>
                   VISL Layout, Talaghattapura Post<br>
                   Bengaluru 560062
                 </li>
               </ul>
             </address>
        </div>
      </div>
      <div class="col-sm-9">
        <!--Column1-->
        <div class="footer-pad">
          <div class="col-sm-8">
            <h4 class="text-center">Products</h4>
          </div>
          <div class="row">
          <div class="col-md-5 col-sm-5">
          <ul>
            <li><a href="/products/wideWidthFilms">Wide Width Film</a></li>
            <li  class="active"><a  class="active" href="/products/tamperProofAndCourierBags">Tamper Proof & Courier Bags</a></li>
            <li><a href="/products/barrierFilm">Barrier Film</a></li>
            <li><a href="/products/vciFilmAntiCorrosionFilm">VCI Film / Anti Corrosion Film</a></li>
            <li><a href="/products/shrinkFilm">Shrink Film</a></li>
            <li><a href="/products/bagsAndLiners">Bags and Liners</a></li>
          </ul>
        </div>
        <div class="col-md-5 col-sm-5">
          <ul>
            <li><a href="/products/agricultureFilm">Agriculture Film</a></li>
            <li><a href="/products/stretchFilm">Stretch Film</a></li>
            <li><a href="/products/airBubbleFilm">Air Bubble Film</a></li>
            <li><a href="/products/zipLockBagsAndSliderBags">Zip Lock Bags & Slider Bags</a></li>
            <li><a href="/products/ppFlexibleStraws">PP Flexible Straws</a></li>
            <li><a href="/products/surfaceProtectionFilm">Surface Protection FIlm</a></li>
          </ul>
        </div>
      </div>
        </div>
      </div>


    </div>
  </div>
  </div>
</footer>

   </body>
  </html>
