<!DOCTYPE html>
  <html>
   <head>
     <title>NETSUP | WideWidthFilms</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
     <script src="/jquery/dist/jquery.min.js"></script>
     <link  rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
     <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <link rel="stylesheet" href="/bootstrap/dist/css/font-awesome.min.css">
   </head>

   <body>
     <div class="jumbotron product-bgColor text-center" >
       <h1>WIDE WIDTH FILMS</h1>
     </div>
     <div class="container">
       <div class="row">
       <div class="col-sm-4">
         <h5>PRODUCT CATEGORIES</h5>
         <div class="list-group">
           <a href="/products/wideWidthFilms" class="list-group-item active">Wide Width Film - Container Liners</a>
           <a href="/products/tamperProofAndCourierBags" class="list-group-item list-group-item-action">Tamper Proof & Courier Bags</a>
           <a href="/products/barrierFilm" class="list-group-item list-group-item-action">Barrier Film</a>
           <a href="/products/vciFilmAntiCorrosionFilm" class="list-group-item list-group-item-action">VCI Film / Anti Corrosion Film</a>
           <a href="/products/shrinkFilm" class="list-group-item list-group-item-action">Shrink Film</a>
           <a href="/products/bagsAndLiners" class="list-group-item list-group-item-action">Bags and Liners</a>
           <a href="/products/agricultureFilm" class="list-group-item list-group-item-action">Agriculture Film</a>
           <a href="/products/stretchFilm" class="list-group-item list-group-item-action">Stretch Film</a>
           <a href="/products/airBubbleFilm" class="list-group-item list-group-item-action">Air Bubble Film</a>
           <a href="/products/zipLockBagsAndSliderBags" class="list-group-item list-group-item-action">Zip Lock Bags & Slider Bags</a>
           <a href="/products/ppFlexibleStraws" class="list-group-item list-group-item-action">PP Flexible Straws</a>
           <a href="/products/surfaceProtectionFilm" class="list-group-item list-group-item-action">Surface Protection Film</a>
         </div>
         <br/>
       </div>
       <div class="col-sm-8">
         <br/>
         <br/>
         <div class="row">
          <div class="col-sm-4">
         <figure class="figure">
           <a href="/products/wideWidthFilms/peFilmDryBulkContainer">
              <img src="/images/category/wide_width_film/PEfilmforDryBulkContainerLiner.jpg" class="subCategoryImage rounded" alt="PEfilmforDryBulkContainerLiner">
           </a>
             <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/wideWidthFilms/peFilmDryBulkContainer">PE Film-Dry Bulk Container Liners</a></figcaption>
         </figure>
       </div>
       <div class="col-sm-4">
         <figure class="figure">
           <a href="/products/wideWidthFilms/PEFilmforConductiveDryBulkLiners">
             <img src="/images/category/wide_width_film/PEFilmforConductiveDryBulkLiners.jpg" class="subCategoryImage rounded" alt="PEfilmforDryBulkContainerLiner">
           </a>
             <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/wideWidthFilms/PEFilmforConductiveDryBulkLiners">PE Film-Conductive Dry Bulk Liners</a></figcaption>
         </figure>
       </div>
       <div class="col-sm-4">
         <figure class="figure">
           <a href="/products/wideWidthFilms/PEFilmforFlexiTanks">
             <img src="/images/category/wide_width_film/ContainerFlexiTank.jpg" class="subCategoryImage rounded" alt="ContainerFlexiTank">
           </a>
             <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/wideWidthFilms/PEFilmforFlexiTanks">PE Film-Flexi-Tanks</a></figcaption>
         </figure>
       </div>
       </div>
       <div class="row">
         <div class="col-sm-4">
         <figure class="figure">
           <a href="/products/wideWidthFilms/geoMembraneFilm">
             <img src="/images/category/wide_width_film/geoMembraneFilm.jpg" class="subCategoryImage rounded" alt="GeoMembraneFilm">
           </a>
             <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/wideWidthFilms/geoMembraneFilm">Construction/Geo-membrane Film</a></figcaption>
         </figure>
       </div>
       <div class="col-sm-4">
         <figure class="figure">
           <a href="/products/wideWidthFilms/tarpaulins">
             <img src="/images/category/wide_width_film/tarpaulins.jpg" class="subCategoryImage rounded" alt="tarpaulins">
           </a>
             <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/wideWidthFilms/tarpaulins">Tarpaulins</a></figcaption>
         </figure>
       </div>
       </div>
       </div>
     </div>
     <br/>
     </div>
     <!-- Footer -->
     <footer class="mainfooter" role="contentinfo">
     <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Netsup Pvt Ltd</h4>
          <address>
               <ul class="list-unstyled">
                 <li>
                    <u><b style="font-weight: 500">Old Address:</b></u><br>
                    ISEC Main Road<br>
                   Nagarbavi Bengaluru<br>
                 </li>
               </br>
                 <li>
                   <u><b style="font-weight: 500">New Address:</b></u><br>
                   Jayaprakash<br>
                   Flat No.303 Tower-2<br>
                   Hara Vijaya Heights<br>
                   VISL Layout, Talaghattapura Post<br>
                   Bengaluru 560062
                 </li>
               </ul>
             </address>
        </div>
      </div>
      <div class="col-sm-9">
        <!--Column1-->
        <div class="footer-pad">
          <div class="col-sm-8">
            <h4 class="text-center">Products</h4>
          </div>
          <div class="row">
          <div class="col-md-5 col-sm-5">
          <ul>
            <li class="active"><a class="active" href="/products/wideWidthFilms">Wide Width Film</a></li>
            <li><a href="/products/tamperProofAndCourierBags">Tamper Proof & Courier Bags</a></li>
            <li><a href="/products/barrierFilm">Barrier Film</a></li>
            <li><a href="/products/vciFilmAntiCorrosionFilm">VCI Film / Anti Corrosion Film</a></li>
            <li><a href="/products/shrinkFilm">Shrink Film</a></li>
            <li><a href="/products/bagsAndLiners">Bags and Liners</a></li>
          </ul>
        </div>
        <div class="col-md-5 col-sm-5">
          <ul>
            <li><a href="/products/agricultureFilm">Agriculture Film</a></li>
            <li><a href="/products/stretchFilm">Stretch Film</a></li>
            <li><a href="/products/airBubbleFilm">Air Bubble Film</a></li>
            <li><a href="/products/zipLockBagsAndSliderBags">Zip Lock Bags & Slider Bags</a></li>
            <li><a href="/products/ppFlexibleStraws">PP Flexible Straws</a></li>
            <li><a href="/products/surfaceProtectionFilm">Surface Protection FIlm</a></li>
          </ul>
        </div>
      </div>
        </div>
      </div>


    </div>
  </div>
  </div>
</footer>

   </body>
  </html>
