<!DOCTYPE html>
  <html>
   <head>
     <title>NETSUP | BarrierFilms: thermoformingFilm</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
     <script src="/jquery/dist/jquery.min.js"></script>
     <link  rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
     <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <link rel="stylesheet" href="/bootstrap/dist/css/font-awesome.min.css">
   </head>

   <body>
     <div class="jumbotron product-bgColor text-center" >
       <h1>THERMOFORMING FILM</h1>
     </div>
     <div class="container-fluid">
       <div class="row">
       <div class="col-sm-4">
         <h5>PRODUCT CATEGORIES</h5>
         <div class="list-group">
           <a href="/products/wideWidthFilms" class="list-group-item list-group-item-action">Wide Width Film - Container Liners</a>
           <a href="/products/tamperProofAndCourierBags" class="list-group-item list-group-item-action">Tamper Proof & Courier Bags</a>
           <a href="/products/barrierFilm" class="list-group-item active">Barrier Film</a>
           <a href="/products/vciFilmAntiCorrosionFilm" class="list-group-item list-group-item-action">VCI Film / Anti Corrosion Film</a>
           <a href="/products/shrinkFilm" class="list-group-item list-group-item-action">Shrink Film</a>
           <a href="/products/bagsAndLiners" class="list-group-item list-group-item-action">Bags and Liners</a>
           <a href="/products/agricultureFilm" class="list-group-item list-group-item-action">Agriculture Film</a>
           <a href="/products/stretchFilm" class="list-group-item list-group-item-action">Stretch Film</a>
           <a href="/products/airBubbleFilm" class="list-group-item list-group-item-action">Air Bubble Film</a>
           <a href="/products/zipLockBagsAndSliderBags" class="list-group-item list-group-item-action">Zip Lock Bags & Slider Bags</a>
           <a href="/products/ppFlexibleStraws" class="list-group-item list-group-item-action">PP Flexible Straws</a>
           <a href="/products/surfaceProtectionFilm" class="list-group-item list-group-item-action">Surface Protection Film</a>
         </div>
         <br/>
       </div>
       <div class="col-sm-8">
         <br/>
         <img class="descriptionImage rounded float-left" src="/images/category/barrier_film/thermoforming.jpg"></src>
           <h5>Thermoforming Film</h3>
             <p class="text-justify">Thermoforming film is primarily a plastic film, which is heated to applicable forming temperatures thus bringing out the desired shape.</p>
             <p class="text-justify">Thermoforming film consists of a 5 layer barrier film structure which possesses excellent formability, which makes it the optimal solution for deep draw applications. </p>
             <p class="text-justify">It is ideal for various food products like cheese, dairy products, meat, poultry, seafood products, vegetables, fruits, dry fruits etc. This film has very strong mechanical properties in terms of puncture resistance and reduced leakages. It retains its strength in high or extreme temperatures and acts as a barrier to foreign gases ensuring the freshness, aroma, integral ingredeients and taste is retained.</p>
             <p class="text-justify">Primarily used in disposable cups, containers, lids, trays, blister packs etc.</p>
       </div>
     </div>
     <br/>
     </div>
     <!--  -->
      <h3 class="relatedProducts">Related Products</h3>
     <div class="row">
     <div class="col-sm-2"></div>
     <div class="container col-sm-6 scrollmenu">
       <figure class="figure">
         <a href="/products/barrierFilm/laminationFilm">
           <img src="/images/category/barrier_film/barrier-films.jpg" class="subCategoryImage rounded" alt="vacuumPackagingFilm">
         </a>
           <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/barrierFilm/laminationFilm">Lamination Film</a></figcaption>
       </figure>
       <figure class="figure">
         <a href="/products/barrierFilm/EVOHFilm">
           <img src="/images/category/barrier_film/EVOHFilm.png" class="subCategoryImage rounded" alt="evohFilm">
         </a>
           <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/barrierFilm/EVOHFilm">EVOH Film</a></figcaption>
       </figure>
       <figure class="figure">
         <a href="/products/barrierFilm/liddingFilm">
           <img src="/images/category/barrier_film/liddingFilm1.jpg" class="subCategoryImage rounded" alt="liddingFilm">
         </a>
           <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/barrierFilm/liddingFilm">Lidding Film</a></figcaption>
       </figure>
       <figure class="figure">
        <a href="/products/barrierFilm/vacuumPackagingFilm">
          <img src="/images/category/barrier_film/vacuum.png" class="subCategoryImage rounded" alt="vacuumPackagingFilm">
        </a>
          <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/barrierFilm/vacuumPackagingFilm">Vacuum Packaging Film</a></figcaption>
      </figure>
       <figure class="figure">
        <a href="/products/barrierFilm/oilFilm">
          <img src="/images/category/barrier_film/oilFilm1.jpg" class="subCategoryImage rounded" alt="oilFilm">
        </a>
          <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/barrierFilm/oilFilm">Oil Film</a></figcaption>
      </figure>
      <figure class="figure">
        <a href="/products/barrierFilm/uhtMilkFilm">
          <img src="/images/category/barrier_film/uhtMilkFilm01.jpg" class="subCategoryImage rounded" alt="uhtMilkFilm">
        </a>
          <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/barrierFilm/uhtMilkFilm">UHT Milk Film</a></figcaption>
      </figure>
      <figure class="figure">
        <a href="/products/barrierFilm/alcoholFilm">
          <img src="/images/category/barrier_film/alcoholFilm.png" class="subCategoryImage rounded" alt="alcoholFilm">
        </a>
          <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/barrierFilm/alcoholFilm">Alcohol Film</a></figcaption>
      </figure>
     </div>
   </div>
   <br/>
     <!--  -->
     <footer class="mainfooter" role="contentinfo">
     <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Netsup Pvt Ltd</h4>
          <address>
               <ul class="list-unstyled">
                 <li>
                    <u><b style="font-weight: 500">Old Address:</b></u><br>
                    ISEC Main Road<br>
                   Nagarbavi Bengaluru<br>
                 </li>
               </br>
                 <li>
                   <u><b style="font-weight: 500">New Address:</b></u><br>
                   Jayaprakash<br>
                   Flat No.303 Tower-2<br>
                   Hara Vijaya Heights<br>
                   VISL Layout, Talaghattapura Post<br>
                   Bengaluru 560062
                 </li>
               </ul>
             </address>
        </div>
      </div>
      <div class="col-sm-9">
        <!--Column1-->
        <div class="footer-pad">
          <div class="col-sm-8">
            <h4 class="text-center">Products</h4>
          </div>
          <div class="row">
          <div class="col-md-5 col-sm-5">
          <ul>
            <li><a href="/products/wideWidthFilms">Wide Width Film</a></li>
            <li><a href="/products/tamperProofAndCourierBags">Tamper Proof & Courier Bags</a></li>
            <li class="active"><a class="active" href="/products/barrierFilm">Barrier Film</a></li>
            <li><a href="/products/vciFilmAntiCorrosionFilm">VCI Film / Anti Corrosion Film</a></li>
            <li><a href="/products/shrinkFilm">Shrink Film</a></li>
            <li><a href="/products/bagsAndLiners">Bags and Liners</a></li>
          </ul>
        </div>
        <div class="col-md-5 col-sm-5">
          <ul>
            <li><a href="/products/agricultureFilm">Agriculture Film</a></li>
            <li><a href="/products/stretchFilm">Stretch Film</a></li>
            <li><a href="/products/airBubbleFilm">Air Bubble Film</a></li>
            <li><a href="/products/zipLockBagsAndSliderBags">Zip Lock Bags & Slider Bags</a></li>
            <li><a href="/products/ppFlexibleStraws">PP Flexible Straws</a></li>
            <li><a href="/products/surfaceProtectionFilm">Surface Protection FIlm</a></li>
          </ul>
        </div>
      </div>
        </div>
      </div>


    </div>
  </div>
  </div>
</footer>

   </body>
  </html>
