<!DOCTYPE html>
  <html>
   <head>
     <title>NETSUP | BagsAndLiners: peFilmForDunnageBags</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
     <script src="/jquery/dist/jquery.min.js"></script>
     <link  rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
     <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <link rel="stylesheet" href="/bootstrap/dist/css/font-awesome.min.css">
   </head>

   <body>
     <div class="jumbotron product-bgColor text-center" >
       <h1>PE FILM FOR DUNNAGE BAGS</h1>
     </div>
     <div class="container-fluid">
       <div class="row">
       <div class="col-sm-4">
         <h5>PRODUCT CATEGORIES</h5>
         <div class="list-group">
           <a href="/products/wideWidthFilms" class="list-group-item list-group-item-action">Wide Width Film - Container Liners</a>
           <a href="/products/tamperProofAndCourierBags" class="list-group-item list-group-item-action">Tamper Proof & Courier Bags</a>
           <a href="/products/barrierFilm" class="list-group-item list-group-item-action">Barrier Film</a>
           <a href="/products/vciFilmAntiCorrosionFilm" class="list-group-item list-group-item-action">VCI Film / Anti Corrosion Film</a>
           <a href="/products/shrinkFilm" class="list-group-item list-group-item-action">Shrink Film</a>
           <a href="/products/bagsAndLiners" class="list-group-item active">Bags and Liners</a>
           <a href="/products/agricultureFilm" class="list-group-item list-group-item-action">Agriculture Film</a>
           <a href="/products/stretchFilm" class="list-group-item list-group-item-action">Stretch Film</a>
           <a href="/products/airBubbleFilm" class="list-group-item list-group-item-action">Air Bubble Film</a>
           <a href="/products/zipLockBagsAndSliderBags" class="list-group-item list-group-item-action">Zip Lock Bags & Slider Bags</a>
           <a href="/products/ppFlexibleStraws" class="list-group-item list-group-item-action">PP Flexible Straws</a>
           <a href="/products/surfaceProtectionFilm" class="list-group-item list-group-item-action">Surface Protection Film</a>
         </div>
         <br/>
       </div>
       <div class="col-sm-8">
        <br/>
        <div class="row">
        <div class="col-sm-6">
        <img class="descriptionImage rounded float-left" src="/images/category/bags_and_liners/bags_liners.jpg"></img>
      </div>
      <div class="col-sm-6">
          <h5>PE Film for Dunnage Bags</h3>
            <p class="text-justify">NetSup manufactures Film for Dunnage Bags. The Film has features of predominantly high strength to provide rigidity and at the same time some amount of flexibility as air is filled in these bags. The formulation used to develop this film focuses on:</p>
            <ul>
                <li>High puncture resistance</li>
                <li>High seal strength</li>
                <li>Enhanced barrier properties</li>
            </ul>
            <p class="text-justify"> Liners for Dunnage Bags are 100% recyclable and reusable, protecting the cargo from water, moisture and sunlight.</p>
            <p class="text-justify">Dunnage bags are predominantly used in shipping containers between palettes to provide a cushioning effect as well as restricting the movement of the products while being transported.</p>   
      </div>
    </div>
</div>
     </div>
     <br/>
     </div>
     <!--  -->
      <h3 class="relatedProducts">Related Products</h3>
     <div class="row">
     <div class="col-sm-2"></div>
     <div class="container col-sm-6 scrollmenu">
       <figure class="figure">
         <a href="/products/bagsAndLiners/3in1Liners">
           <img src="/images/category/bags_and_liners/3in1Liners.jpg" class="subCategoryImage rounded" alt="3in1Liners">
         </a>
           <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/bagsAndLiners/3in1Liners">3 in 1 Liners</a></figcaption>
       </figure>
       <figure class="figure">
        <a href="/products/bagsAndLiners/generalPurposeLiners">
           <img src="/images/category/bags_and_liners/generalPurposeLiners.jpg" class="subCategoryImage rounded" alt="GeneralPurposeLiners">
        </a>
          <figcaption class="figure-caption text-center" itemprop=""><a class="hyperLinkUnderline" href="/products/bagsAndLiners/generalPurposeLiners">General Purpose Liners</a></figcaption>
      </figure>
     </div>
   </div>
   <br/>
     <!--  -->
     <footer class="mainfooter" role="contentinfo">
     <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Netsup Pvt Ltd</h4>
          <address>
               <ul class="list-unstyled">
                 <li>
                    <u><b style="font-weight: 500">Old Address:</b></u><br>
                    ISEC Main Road<br>
                   Nagarbavi Bengaluru<br>
                 </li>
               </br>
                 <li>
                   <u><b style="font-weight: 500">New Address:</b></u><br>
                   Jayaprakash<br>
                   Flat No.303 Tower-2<br>
                   Hara Vijaya Heights<br>
                   VISL Layout, Talaghattapura Post<br>
                   Bengaluru 560062
                 </li>
               </ul>
             </address>
        </div>
      </div>
      <div class="col-sm-9">
        <!--Column1-->
        <div class="footer-pad">
          <div class="col-sm-8">
            <h4 class="text-center">Products</h4>
          </div>
          <div class="row">
          <div class="col-md-5 col-sm-5">
          <ul>
            <li><a href="/products/wideWidthFilms">Wide Width Film</a></li>
            <li><a href="/products/tamperProofAndCourierBags">Tamper Proof & Courier Bags</a></li>
            <li><a href="/products/barrierFilm">Barrier Film</a></li>
            <li><a href="/products/vciFilmAntiCorrosionFilm">VCI Film / Anti Corrosion Film</a></li>
            <li><a href="/products/shrinkFilm">Shrink Film</a></li>
            <li class="active"><a class="active" href="/products/bagsAndLiners">Bags and Liners</a></li>
          </ul>
        </div>
        <div class="col-md-5 col-sm-5">
          <ul>
            <li><a href="/products/agricultureFilm">Agriculture Film</a></li>
            <li><a href="/products/stretchFilm">Stretch Film</a></li>
            <li><a href="/products/airBubbleFilm">Air Bubble Film</a></li>
            <li><a href="/products/zipLockBagsAndSliderBags">Zip Lock Bags & Slider Bags</a></li>
            <li><a href="/products/ppFlexibleStraws">PP Flexible Straws</a></li>
            <li><a href="/products/surfaceProtectionFilm">Surface Protection FIlm</a></li>
          </ul>
        </div>
      </div>
        </div>
      </div>


    </div>
  </div>
  </div>
</footer>

   </body>
  </html>
